<div>
  <h3>Register</h3>
  <p *ngIf="email">Email: {{email}}</p>
  <input [(ngModel)]="username" placeholder="Username" />
  <input [(ngModel)]="password" placeholder="Password" type="password"/>
  <button (click)="register()">Register</button>
  <app-error-notification *ngIf="showNotification" [message]="notificationMessage" (closed)="onNotificationClosed()"></app-error-notification>
</div>

<app-bottom-nav
  [bottomNavItems]="bottomNavItems"
  [getIconForRoute]="getIconForRoute.bind(this)"
  [isActiveRoute]="isActiveRoute.bind(this)"
  [navigate]="navigate.bind(this)">
</app-bottom-nav>
