<div>
  <h3>Register</h3>
  <p *ngIf="email">Email: {{email}}</p>
  <input [(ngModel)]="username" placeholder="Username" />
  <input [(ngModel)]="password" placeholder="Password" type="password"/>
  <button (click)="register()">Register</button>
  <div *ngIf="msg" [style.color]="isError ? 'red' : 'green'">{{msg}}</div>
</div>

<app-bottom-nav
  [bottomNavItems]="bottomNavItems"
  [getIconForRoute]="getIconForRoute.bind(this)"
  [isActiveRoute]="isActiveRoute.bind(this)"
  [navigate]="navigate.bind(this)">
</app-bottom-nav>
