<div class="container">
  <h2 class="signin-title">Sign In</h2>
  <input class="signin-input" [(ngModel)]="email" placeholder="Enter email" [disabled]="loading" />
  <app-error-notification *ngIf="showNotification" [message]="notificationMessage" (closed)="onNotificationClosed()"></app-error-notification>
  <div *ngIf="loading" class="signin-loading-text">Sending OTP...</div>

  <button class="signin-btn" (click)="send()" [disabled]="loading">
    {{loading ? 'Sending...' : 'Send OTP'}}
  </button>
</div>

<app-bottom-nav
  [bottomNavItems]="bottomNavItems"
  [getIconForRoute]="getIconForRoute.bind(this)"
  [isActiveRoute]="isActiveRoute.bind(this)"
  [navigate]="navigate.bind(this)">
</app-bottom-nav>
